@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  animation: animate 1s linear infinite;
}

@keyframes animate{
  0%{
      color: #0e3742;
      text-shadow: none;
  }
  100%{
      color: #fff;
      text-shadow: 0 10px 10px #03bcf4,
      0 0 20px #03bcf4,
      0 0 40px #03bcf4,
      0 0 80px #03bcf4,
      0 0 160px #03bcf4;
  }
}